<a href="https://colab.research.google.com/github/darkginka/Data-Analyst/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def how_many_times(n):
  count = 0
  while True:
    smallno = int("".join(sorted([i for i in str(n)])))
    bigno = int("".join(sorted([j for j in str(n)], reverse=True)))
    division = bigno-smallno
    count = count+1
    if division==n:
      return count-1
    else:
      n = division
  return count

how_many_times(9831)

7

In [ ]:
def pattern(n):
    for i in range(n):
        for j in range(n):
          if(i==0 or j==0 or i==n-1  or j==n-1 or i==j or j==n-i-1):
            print("#",end=" ")
          else:
            print(" ",end=" ")
        print("")

n= int(input("Enter The Number: "))

if(n<=2):
  print("Number is greater than 2")
elif(n%2==0):
  print("Enter Odd Number !!")
else:
  pattern(n)

Enter The Number: 5
# # # # #
# #   # #
#   #   #
# #   # #
# # # # #

In [ ]:
lst=[1,2,4,8,10,11,16,20]
m=[]
for i in range(1,len(lst)):
  m.append(lst[i]-lst[i-1])

m

[1, 2, 4, 2, 1, 5, 4]

In [ ]:
s="07:05:45PM"
s.endswith("PM")
time = s.replace("PM","")
hr = time.split(":",1)
M = int(hr[0])+12
print(str(M)+":"+hr[1])

19:05:45

In [ ]:
# if __name__ == '__main__':
#     n = int(input())
#     student_marks = {}
#     for i in range(n):
#         line = input().split()
#         name, scores = line[0], line[1:]
#         scores = map(float, scores)
#         student_marks[name] = scores
#     query_name =input()
#     l1 = student_marks[query_name]
#     total=0
#     for j in range(len(l1)):
#         total = total + l1[j]
#     print(str(total/len(l1))+"0")

**Numpy**

In [ ]:
import numpy as np

In [ ]:
myList=[1,2,3]
my1dArray= np.array(myList)
myMatrix=[[1,2,3],[4,5,6],[7,8,9]]
my2dArray= np.array(myMatrix)

In [ ]:
np.arange(0,11,2)
np.zeros((5,5))
np.ones((5,5))
np.eye(5)
np.linspace(1,10,2)
np.random.random(5)
np.random.rand(5,6)
np.random.randn(5,6)
np.random.randint(1,100,5)

array([53, 71,  8, 23,  6])

In [ ]:
arr=np.arange(1,25)
arr.reshape(4,6)
arr.shape
arr.min()
arr.argmin()

0

**Pandas**

In [ ]:
import pandas as pd

In [ ]:
help(pd.Series)

In [ ]:
myData=[1999,2000,1884]
myIndex=["Rohan","Sneha","Lalu"]

In [ ]:
mySeries= pd.Series(data=myData,index=myIndex)
# mySeries= pd.Series(myData,myIndex)
mySeries

Rohan    1999
Sneha    2000
Lalu     1884
dtype: int64

In [ ]:
mySeries[0]
# mySeries["Rohan"]

1999

In [ ]:
alcohol={'breezer':130,'Old Monk':80,'Rio':35}
pd.Series(alcohol)

breezer     130
Old Monk     80
Rio          35
dtype: int64